.featurePost {

  width: 370px;
  height: 430px;
  margin-top: 65px;
  margin-bottom: 110px;

  img {

    width: 100%;
    height: 218px;
  }

  h3 {

    font-size: 19px;
    color: $colorWhite;
    margin-top: 35px;
  }

  p {

    height: 84px;
    font-size: 13px;
    color: $colorWhite;
    margin-top: 25px;
  }

  button {

    width: 170px;
    height: 35px;
    background-color: $colorPrimary;
    color: $colorWhite;
    text-align: center;

    @extend .border;

    box-shadow: 0 3px $colorPrimaryDark;
  }

  .border {

    border-radius: 5px 5px 5px 5px; // top-left, top-right, low-right, low-left
    -moz-border-radius: 10px;
    border: none;
    outline: none;
  }
}