.iconbox {

  width: 285px;
  height: 70px;
  //border:1px solid #666;
  margin-bottom: 40px;
  float:left;

  img {

    height: 70px;
    width: 70px;
    float: left;
    margin-right: 30px;
    clear: both;
  }


  svg {

    height: 70px;
    width: 70px;
    float: left;
    margin-right: 30px;
    clear: both;

    /*
    @include svg (

      $colorAccent // color : HOVER
    );
    */
  }

  h4 {

    margin-top: 15px;
    @extend .label;
  }

  p {

    font-size: 13px;
    color: $colorGrey;
    @extend .label;
  }



  .label {

    overflow: auto;
    display: block;
  }
}

.iconbox:hover {

  & svg path, svg rect, svg polygon {

    fill: $colorAccent;
    @include transition (all, 0.3s, ease);
  }

  & h4, p {

    color: $colorAccent;
    @include transition (all, 0.3s, ease);
  }
}