.imagebox {

  width: 270px;
  height: 175px;
  margin-top: 30px;
  margin-bottom: 60px;

  svg {

    height: 65px;
    width: 65px;
    margin: auto;
    clear: both;
    display: block;
    fill: $colorPrimary;

    /*
    @include svg (

      $colorAccent // color : HOVER
    );
    */
  }

  svg:hover path, svg:hover rect, svg:hover polygon {

    transition: all 0.3s ease;
    fill: $colorAccent;
  }

  h2 {

    margin-top: 35px;
    font-family: $font-Lato;
    font-size: 15px;
    color: $colorPrimary;
    @extend .label;
  }

  .label {

    text-align: center;
    overflow: auto;
    display: block;
  }
}