.imagebox {

  width: 285px;
  height: 70px;
  //border:1px solid #666;
  margin-bottom: 40px;
  float:left;

  img {

    height: 70px;
    width: 70px;
    float: left;
    margin-right: 30px;
    clear: both;
  }


  svg {

    height: 70px;
    width: 70px;
    float: left;
    margin-right: 30px;
    clear: both;
  }

  svg path {

    fill: $colorAccent !important;
  }

  img:hover {

    fill: $colorAccent !important;
  }

  h4 {

    margin-top: 15px;
    @extend .label;
  }

  p{

    font-size: 13px;
    color: $colorGrey;
    @extend .label;
  }

  .label {

    overflow: auto;
    display: block;
  }
}