body {
  
}

.site-content {

  width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;

  & h4 {

    text-decoration: none;
    @include links(

      $colorPrimary,  // color : LINK
      $colorPrimary,  // color : VISITED
      $colorAccent, // color : HOVER
      $colorAccent  // color : ACTIVE
    );
  }
}

.product-categories {

  @extend .site-content;

  margin: 0 0 0 0; // top, højre, bund, venstre
}

.featured-section {

  & h3 {

    margin: 35px 0 35px 0; // top, højre, bund, venstre
    color: $colorWhite;
  }

  & p {

    margin: 35px 0 35px 0; // top, højre, bund, venstre
    color: $colorWhite;
  }
}

.space-100 {

  margin-top: 100px;
}

.space-145 {

  margin-top: 145px;
}

.margins {

  /*
  @include margin(

    $top,
    $right,
    $bottom,
    $left
  );
  */
}