header {

  .image {

    width:100%;
    height:340px;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 40px;
  }

  .logo {

    float: left;
  }

  .menu {

    float: right;
  }

  ul {

  }

  li {

    display: inline;
    padding: 0 0 0 25px;
  }

  .current-menu-item a{

    color: $colorAccent !important;
  }

  a {


    font-size: 16px;
    @include links(

      $colorWhite,  // color : LINK
      $colorWhite,  // color : VISITED
      $colorAccent, // color : HOVER
      $colorAccent  // color : ACTIVE
    );
  }
}

.breadcrumb {

  background-color: $colorPrimary;
  height: 35px;
  align-items: center;
  display: flex;

  p {

    font-size: 12px;
    color: $colorGrey;
    margin: 0;
  }
}


.headerSearchBox {

  text-align: center;
  padding: 110px 0 0 0;

  input {

    width: 600px;
    height: 60px;
    padding: 0 20px 0 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  button {

    width: 60px;
    height: 60px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
  }
}