$colorPrimary: #0f4b70;
$colorPrimaryLight: #0f77a2;
$colorAccent: #db9e36;

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGraphite: #2e2e2e;
$colorGrey: #8a8a8a;
$colorPurple: #e637e1;
$colorPink: #e6548b;
$colorRed: #e6230f;
$colorOrange: #e6982a;
$colorYellow: #d5e61b;
$colorGreen: #3cff75;
$colorCyan: #60fff5;
$colorBlue: #49b5ff;

$colorWhite-01: rgba(255, 255, 255, 0.1);
$colorWhite-02: rgba(255, 255, 255, 0.2);
$colorWhite-03: rgba(255, 255, 255, 0.3);
$colorWhite-04: rgba(255, 255, 255, 0.4);
$colorWhite-05: rgba(255, 255, 255, 0.5);
$colorWhite-06: rgba(255, 255, 255, 0.6);
$colorWhite-07: rgba(255, 255, 255, 0.7);
$colorWhite-08: rgba(255, 255, 255, 0.8);
$colorWhite-09: rgba(255, 255, 255, 0.9);

$colorBlack-01: rgba(0, 0, 0, 0.1);
$colorBlack-02: rgba(0, 0, 0, 0.2);
$colorBlack-03: rgba(0, 0, 0, 0.3);
$colorBlack-04: rgba(0, 0, 0, 0.4);
$colorBlack-05: rgba(0, 0, 0, 0.5);
$colorBlack-06: rgba(0, 0, 0, 0.6);
$colorBlack-07: rgba(0, 0, 0, 0.7);
$colorBlack-08: rgba(0, 0, 0, 0.8);
$colorBlack-09: rgba(0, 0, 0, 0.9);