/**
 * Importing FONT FACE(s)
 */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');

/**
 * Variables
 */
$font-Oswald: 'Oswald', sans-serif;
$font-Lato: 'Lato', sans-serif;

/**
 * Global FONT-FAMILY
 */
* {

  & a {

    font-family: $font-Oswald;
  }

  & h1, h2, h3, h4, h5 {

    font-family: $font-Oswald;
  }

  & h6 {

    font-family: $font-Lato;
  }

  & p {

    font-family: $font-Lato;
  }
}