/**
 * mixin : PADDING
 */
@mixin padding ($top, $right, $bottom, $left) {

  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

/**
 * mixin : MARGIN
 */
@mixin margin ($top, $right, $bottom, $left) {

  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

/**
 * mixin : MENU-ITEMS COLOR
 */
@mixin links ($link, $visited, $hover, $active) {

  & {
    color: $link;
    &:visited {
      color: $visited;
    }
    &:hover {
      color: $hover;
    }
    &:active, &:focus {
      color: $active;
    }
  }
}

/**
 * mixin : SVG-HOVER COLOR // TODO : Prøv senere om du kan få denne til at virke?!
 */
/*
@mixin svg ($hover) {

  content[path, rect, polygon]

  @if $hover == hover {

    svg:hover path, svg:hover rect, svg:hover polygon {

      transition: all 0.3s ease;
      fill: $hover;
    }
  }
}
*/

/*
svg:hover path, svg:hover rect, svg:hover polygon {

  transition: all 0.3s ease;
  fill: $colorAccent;
}
*/

/**
 * mixin : TRANSITION
 */
@mixin transition ($what: all, $time: 0.9s, $how: ease-in-out) {

  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}