/**
 * H-TAG's
 */
h1 {

  font-size: 28px;
  color: $colorPrimary;
}

h2 {

  font-size: 24px;
  color: $colorPrimary;
}

h3 {

  font-size: 20px;
  color: $colorPrimary;
}

h4 {

  font-size: 18px;
  color: $colorPrimary;
}

h5 {

  font-size: 16px;
  color: $colorGrey;
}

h6 {

  font-size: 13px;
  color: $colorGrey;
}

/**
 * P-TAG's
 */
p {

  font-size: 14px;
  color: $colorBlack;
}

/**
 * A-TAG's
 */
a {

  text-decoration: none;
}