footer {

  background-color: $colorWhite;

  h5 {

    margin: 0 0 30px 0;
  }

  a {

    color: $colorBlack;
  }

  a:hover {

    color: $colorAccent;
  }

  p {

    margin: 0;
  }
}

.footer_top {

  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_social {

  display: inline-block;
  text-align: center;

  a {

    margin: 0 45px 0 0;

    i {

      font-size: 24px;
      background-color: $colorPrimaryDark;
      color: $colorWhite;
      width: 45px;
      height: 45px;
      border-radius: 100%;
      margin: 0 10px 0 45px;
      padding: 10px 0 0 0;
      box-sizing: border-box;
    }
  }
}

.footer_social:hover {

  & a {

    color: $colorAccent;
    @include transition (all, 0.3s, ease);
  }

  & i {

    background-color: $colorAccent;
    @include transition (all, 0.3s, ease);
  }
}

.footer_logo {

  height: 10px;
  text-align: center;
  background-color: $colorGreyLight;

  a {

    img {

      padding: 0 20px 0 20px;
      background-color: $colorWhite;
    }
  }
}

.footer_bottom {

  padding: 50px 0 0 0;

  &.left {

    padding-right: 0;
  }

  &.right {

    padding-left: 0;
  }
}

.footer_company_info {

  width: 200px;
  float: left;
  text-align: left;
}

.footer_images {

  margin: 0 0 0 30px;
  float: right;
  text-align: right;
}

.footer_disclaimer {

  text-align: center;
  padding: 70px 0 80px 0;

  p {

    color: $colorGraphite;
    font-style: italic;
  }
}

.footer_container {
  display: block;
  text-align: center;
}